.box {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.dog{
    
    border-radius: 30%;
    object-fit: cover;
}
.contenedor{
  
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contenedor img {
    border-radius: 30%;
    object-fit: cover;
}
